*::-webkit-scrollbar {
  display: none;
}

.App {
  overflow: hidden;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#map-container {
  position: relative;
}

#map-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

#map-button {
  font-size: 22px;
  font-family: Monogram;
}

.btn {
  box-shadow: 2px 2px 2px 0px black;
}

#navigation {
  height: 10vh;
  width: 100vw;
  position: absolute;
  z-index: 6;
  top: 0;
  color: white;
}

#navigation > .col-2:nth-child(1) {
  z-index: 11;
}

#navigation > .col-2:nth-child(2) {
  z-index: 11;
}

#connect-button {
  transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#connect-button:hover {
  background-color: black;
  color: white;
}

#back-button {
  color: white;
  text-decoration: none;
}

#map-buttons > .col-4:nth-child(1) {
  position: absolute;
  right: 53%;
  top: 32.5%;
  transform: translate(50%, -50%);
}

#map-buttons > .col-4:nth-child(2) {
  position: absolute;
  right: 25%;
  bottom: 32.5%;
  transform: translate(50%, -50%);
}

#map-buttons > .col-4:nth-child(3) {
  position: absolute;
  right: 73.5%;
  bottom: 33.5%;
  transform: translate(50%, -50%);
}

#map-buttons > .col-4:nth-child(4) {
  position: absolute;
  right: 28.5%;
  top: 25%;
  transform: translate(50%, -50%);
}

#altar-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

#altar-buttons > .col-3:nth-child(1) {
  position: absolute;
  right: 46%;
  bottom: 30%;
  transform: translate(50%, -50%);
}

#altar-button {
  font-size: 22px;
  font-family: Monogram;
}

#dungeon-container {
  position: relative;
}

#dungeon-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

#dungeon-buttons > .col-3:nth-child(1) {
  position: absolute;
  right: 15.5%;
  bottom: 52%;
  transform: translate(50%, -50%);
}

#dungeon-buttons > .col-3:nth-child(2) {
  position: absolute;
  left: 0%;
  bottom: 52%;
  transform: translate(50%, -50%);
}

#dungeon-button {
  font-size: 22px;
  font-family: Monogram;
}

#missions-button {
  font-size: 22px;
  font-family: Monogram;
}

#hall-container {
  position: relative;
}

#hall-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

#hall-buttons > .col-3:nth-child(1) {
  position: absolute;
  left: 0%;
  bottom: 52%;
  transform: translate(50%, -50%);
}

#hall-buttons > .col-3:nth-child(2) {
  position: absolute;
  right: 30.5%;
  bottom: 52%;
  transform: translate(50%, -50%);
}

#nursery-container {
  position: relative;
}

#nursery-buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

#nursery-buttons > .col-3:nth-child(1) {
  position: absolute;
  left: 0%;
  bottom: 52%;
  transform: translate(50%, -50%);
}

#nursery-buttons > .col-3:nth-child(2) {
  position: absolute;
  right: 30.5%;
  bottom: 52%;
  transform: translate(50%, -50%);
}

#trader-button {
  font-size: 22px;
  font-family: Monogram;
}

#shop-button {
  font-size: 22px;
  font-family: Monogram;
}

#modal-title {
  font-family: Monogram;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px;
}

#modal-screen {
  transition: 0.25s;
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

#bag-container {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

#utility-navbar {
  position: absolute;
  z-index: 8;
  bottom: 0;
  margin: 10px;
}

#shop-modal {
  background-image: url("../public/modal_GUI.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.25s;
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: aliceblue;
}

#item-card {
  background-image: url("../public/item_frame.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 102% 102%;
}

@font-face {
  font-family: Monogram;
  src: url("../public/monogram-extended.ttf");
}
