*::-webkit-scrollbar {
  display: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#modal-screen {
  transition: 0.25s;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

#shop-modal {
  transition: 0.25s;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: aliceblue;
}
